* {
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style-type: none;
}

body {
    font-family: "Segoe UI Light", Calibri;
    font-size: 14px;font-weight: bold;
}

img {
    vertical-align: top;
    border: 0 none;
}

a {
    text-decoration: none;  }

.cf:after {
    content: "";
    display: table;
    clear: both;
}

.cf {
    *zoom: 1;
}

.contain{width: 1200px;margin: 0 auto}
.header{height: 128px;}
.top{width: 1200px;margin: 0 auto;}
.logo {height: 43px;float: left}
.logo-one {padding-top: 30px;float: left;margin-right: 20px;}
.logo-two {margin-top: 25px;font-size:12px;border-left:1px solid #dcdcdc;float: left;padding-left: 20px;color: #999;}
.search {float: right;margin-top: 20px;}
.text-input {height: 41px;width: 309px;outline: none;padding-left: 14px;border:1px solid #dcdcdc;
    border-right: none;  font-family: "Segoe UI Light", Calibri;vertical-align: middle}
.btn-input {height: 43px;width: 44px;vertical-align: middle;border:none;
background:#ff5842 url(../imgs/search.png) center center no-repeat;cursor: pointer;}
.nav {width: 1200px;margin: 0 auto;}
.nav-ul{float: left;margin-top: 20px;}
.nav-ul a {color: #686868;
    font-weight: bold;}
.home a{color: #ff5842}
.nav li{float: left;padding: 5px 0;margin-right: 48px;font-size: 20px;color: #c1c1c1;}
.nav-ul li a:hover{color: #ff5842;}
.nav-right {float: right;margin-top: 25px;color: #fff;font-size: 14px;}
.nav-right a{color: white}
.nav-one {background-color: #a1a1a1;padding: 5px 10px;margin-right: 3px;color: white;}
.nav-two {background-color: #a1a1a1;padding: 5px 10px;}
.nav-one:hover {background-color: #ff5842;color: white}
.nav-two:hover {background-color: #ff5842;color: white}
.footer-top{height: 210px;background-color: #222f35;width: 100%;margin-top: 20px;}
.ft-contain li{float: left}
.footer-bottom{height: 52px;background-color: #172125;width: 100%;}
.first,.second,.third,.fourth {padding-top: 20px;font-weight: bold;}
.first dt{color: white;font-size: 22px;margin-bottom: 20px;  }
.second dl dt a{color: white;font-size: 22px;margin-bottom: 20px;display: block}
.third dl dt a{color: white;font-size: 22px;margin-bottom: 20px;display: block}
.fourth dl dt a{color: white;font-size: 22px;margin-bottom: 20px;display: block}
.inline {text-indent:9px;display: inline-block}
.first dl dd{color: #6e8893;line-height: 20px}
.second dl dd a{color: #6e8893;line-height: 22px;font-size: 14px}
.third dl dd a{color: #6e8893;line-height: 22px;font-size: 14px}
.fourth dl dd a{color: #6e8893;line-height: 22px;font-size: 14px}
dl dd a:hover{color: white}
.first{width: 570px;}
.second{width: 212px;}
.third{width: 245px;}
.bt-left{float: left;line-height:52px;color: #6e8893;vertical-align: middle; font-weight: bold;}
.bt-right{float: right}
.bt-right a{opacity: .6 ;filter:alpha(opacity=60); }
.bt-right a:hover{opacity: 1 ;filter:alpha(opacity=100); }
.ft-bt a{display: inline-block;width: 37px;height: 37px;margin-top: 7px;}
.f{background:#222f35 url(../imgs/f.png) center center no-repeat;margin-right: 2px;}
.o{background:#222f35 url(../imgs/o.png) center center no-repeat;margin-right: 2px;}
.g{background:#222f35 url(../imgs/g.png) center center no-repeat;margin-right: 2px;}
.you-tobe{background:#222f35 url(../imgs/you-tobe.png) center center no-repeat;}
.ex{font-size: 20px;vertical-align: middle;padding-left: 10px;}
.exclusive{float: left;margin-top: 20px;}
.enter-left-bottom p{font-size: 18px;padding-left:15px;margin-top:10px;}
.teo{font-size: 14px;padding-left:15px;margin-top:10px;display: inline-block;color: #9f9f9f}
.po{font-size: 13px;padding-left:15px;margin-top:10px;}
.colo{color: #ff5842}
.right{float: right;width: 300px;overflow: hidden}
.right-icon{width: 310px;height: 147px;margin-top: 20px;}
.right-icon ul li{float: left;}
.right-icon ul li a{width: 45px;height: 45px;background: url(../imgs/shba.png) 0 0 no-repeat;
    opacity: .85 ;filter:alpha(opacity=85);display:inline-block;margin-right: 6px;margin-bottom: 2px;}
.right-icon ul li a:hover{opacity: 1;filter:alpha(opacity=100)}
.right-icon ul li a.icon2{background-position: -51px 0;}
.right-icon ul li a.icon3{background-position: -102px 0;}
.right-icon ul li a.icon4{background-position: -153px 0;}
.right-icon ul li a.icon5{background-position: -204px 0;}
.right-icon ul li a.icon6{background-position: -255px 0;}
.right-icon ul li a.icon7{background-position: 0 -51px;}
.right-icon ul li a.icon8{background-position: -51px -51px;}
.right-icon ul li a.icon9{background-position: -102px -51px;}
.right-icon ul li a.icon10{background-position: -153px -51px;}
.right-icon ul li a.icon11{background-position: -204px -51px;}
.right-icon ul li a.icon12{background-position: -255px  -51px;}
.right-icon ul li a.icon13{background-position: 0 -102px;}
.right-icon ul li a.icon14{background-position: -51px -102px;}
.right-icon ul li a.icon15{background-position: -102px -102px;}
.right-icon ul li a.icon16{background-position: -153px -102px;}
.right-icon ul li a.icon17{background-position: -204px -102px;}
.right-icon ul li a.icon18{background-position: -255px  -102px;}
.al{width: 305px;height: 160px;margin-top: 21px;}
.al a div:hover{background-color: #ff5842;color: white}
.al a div{color: #8f8f8f}
.al-iz{width: 149px;height: 38px;line-height: 38px;text-align: center;
    background: #f6f6f6;margin-right: 2px;float: left;margin-bottom: 2px;display: block}
.bas{width: 300px;height: 250px;margin-top: 20px;}
.pop{margin-top: 20px;width: 300px;height: 605px;}
.cont{background-color: #ff5842;height:47px;width: 100%;overflow: hidden}
.coo a span {display:inline-block;height:27px;width: 99px;text-align: center;border-right: 1px solid #f24933;
    line-height: 27px;margin-top: 8px;margin-left: 1px}
.coo a {color: white;display: inline-block;margin-right: -6px}
.coo a:hover{background-color:#f24933;color: white}

.display{display: none}

.focus{background-color:#f24933;color: white}
.pop-con{width: 300px;height: 560px;border:1px solid #f8f8f8;}
.pop-con1{width:270px;height: 100px;margin-top: 10px;margin-left: 10px;
    border-bottom:1px solid #f8f8f8 ;}
.pop-bac{width: 90px;height: 90px;margin-right: 10px;float: left;margin-bottom: 10px;}
.pop-text{float: left;width: 170px;height: 100px;}
.pop-text p{font-size: 16px;padding-left:5px;margin-top:5px;}
.pop-text a{color: black;}

.tol{font-size: 10px;padding-left:10px;margin-top:5px;display: block ;color: #9f9f9f}
.ta{margin-top: 20px;}
.tag{padding: 4px 9px;margin-right: 3px;margin-bottom: 2px;float:left;height: 35px;line-height: 35px;
    display:block;background-color: #f6f6f6;color: #8f8f8f; }
a.tag:hover{background-color:#f24933;color: white}
.video{width: 296px;height: 200px;margin-top: 20px;}
.o-txt{width: 296px;height: 52px;display: block;margin-top: 20px;color: #8f8f8f;border:2px solid #fff;
    background:#f6f6f6 url(../imgs/ho.png) 10px 15px no-repeat ;}
.o-right{padding-top:10px;font-size: 11px;margin-right: 10px;margin-left: 50px;height: 52px;}
.o-txt:hover{width: 296px;height: 52px; color: #fff;
    background:#50b4e6 url(../imgs/bo.png) 10px 13px no-repeat ;border:2px solid #42a7d9}
.last-bt{background-color: #ff5842;color: white;height: 43px;width: 90px;vertical-align: middle;border:none;cursor: pointer}
.searc{margin-top: 20px;width: 300px;}
.text-inp {height: 41px;width: 204px;outline: none;padding-left: 14px;border:1px solid #dcdcdc;
    border-right: none;  font-family: "Segoe UI Light", Calibri;vertical-align: middle;}
a{color: black}
a:hover{color: #f60;}
.coo a{height: 47px;}
