*{ font-weight: bold;}
.bor{height: 5px;background-color: #f24933;}
.con{ width: 1200px;margin: 0 auto}
.cont{background-color: #ff5842;height:47px;width: 100%}
a{height: 47px;}
.con a:hover{background-color:#f24933;color: white}
.con a {color: white;display: inline-block;margin-right: -6px}
.con a span {display:inline-block;height:27px;border-right: 1px solid #f24933;
    padding-left:22px;padding-right: 22px;line-height: 27px;margin-top: 8px;margin-left: 3px}
#sp{border: none;}
.exclusive{margin-top: 20px ;vertical-align: middle;float: left}

.glt{float: right;}
.small{width: 41px;height: 41px;background-color: #f5f5f5;line-height: 38px;text-align: center;
    display: inline-block;margin-top:  20px ;margin-bottom:  20px ;color: #a4a4a4;font-size: 34px;}
.sma{width: 41px;height: 41px;background-color: #f5f5f5;line-height: 38px;font-size: 34px;text-align: center;
    display: inline-block;margin-top:  20px ;margin-bottom:  20px ;color: #a4a4a4;}
.sma:hover{background-color: #eeeeee;color: #686868;cursor: pointer}
.small:hover{background-color: #eeeeee;color: #686868;cursor: pointer}
.all_img{width: 85px;height: 41px;position: absolute;left: 50%;top:50%;  margin-left: -42.5px;
    margin-top: -20.5px;display: none}

.img_sea{width: 40px;height: 41px;background: #514a49 url(../imgs/search1.png) center center no-repeat;margin-right: 5px;float: left}
.img_s{width: 40px;height: 41px;background: #514a49 url(../imgs/s.png) center center no-repeat;float: left}
.tax-left{width: 386px;height: 223px;background:url(../imgs/see1.png);margin-right: 21px;
    position: relative;opacity: .7;filter:alpha(opacity=70);}
.tax-left:hover{opacity: 1 ;filter:alpha(opacity=100);}
.tax-middle:hover{opacity: 1 ;filter:alpha(opacity=100);}
.tax-right:hover{opacity: 1 ;filter:alpha(opacity=100);}
.tax-middle{width: 386px;height: 223px;background:url(../imgs/g11.png);margin-right: 21px;
    position: relative;opacity: .7 ;filter:alpha(opacity=70);}
.tax-right{width: 386px;height: 223px;background:url(../imgs/g21.png);
    position: relative;opacity: .7 ;filter:alpha(opacity=70);}
.tax-text1{width: 382px;height: 340px;border-left:2px solid #f8f8f8;border-right:2px solid #f8f8f8;
    border-bottom:5px solid #ff5842;margin-right: 20px;float: left}
.tax-text2{width: 382px;height: 340px;border-left:2px solid #f8f8f8;border-right:2px solid #f8f8f8;
    border-bottom:5px solid #ff5842;margin-right: 20px;float: left}
.tax-text3{width: 382px;height: 340px;border-left:2px solid #f8f8f8;border-right:2px solid #f8f8f8;
    border-bottom:5px solid #ff5842;float: right  }
.tax-text1 p{font-size: 18px;padding-left:15px;margin-top:15px;  }
.tax-text2 p{font-size: 18px;padding-left:15px;margin-top:15px;  }
.tax-text3 p{font-size: 18px;padding-left:15px;margin-top:15px;  }
.tex{font-size: 14px;padding-left:15px;margin-top:15px;display: inline-block ;color: #9f9f9f}
.content{width: 1200px;margin: 0 auto;}
.left{width: 900px;float: left;}
.new{width: 880px;height: 400px;background-color: #d7d7d7;margin-top: 20px;border-bottom:5px solid #ff5842;
    position: relative;}
.xin{margin-top: 10px;margin-left: 16px;display: block}
.gl{position: absolute;bottom: 10px;right: 10px;}
.gl-left{width: 41px;height: 41px;background-color: #404040;line-height: 38px;text-align: center;
    display: inline-block;color: #c6c6c6;font-size: 34px;}
.gl-right{width: 41px;height: 41px;background-color: #404040;line-height: 38px;text-align: center;
    display: inline-block;color: #c6c6c6;font-size: 34px;}
.gl-left:hover{ background-color: #a4a4a4;color: #f60;cursor: pointer}
.gl-right:hover{ background-color: #a4a4a4;color: #f60;cursor: pointer}
.new-text{width: 605px;height: 120px;background-color: #2b2b2b;position: absolute;left: 16px;bottom: 10px;}
.new-header a{font-size: 20px;color: white;padding-left:15px;padding-top:13px; }
.text-con{font-size: 14px;color: white;padding-left:15px;padding-top:12px;}
.enter{width: 880px;height: 450px;margin-top: 20px;}
.enter-left{width: 420px;height: 445px;border-bottom:5px solid #ff5842;float: left}
.enter-left-top{width: 420px;height: 190px;}

.te{font-size: 14px;padding-left:15px;margin-top:15px;display: inline-block;color: #9f9f9f}

.enter-right{width: 460px;height: 420px;float: right}
.enter-r1{width: 220px;height: 216px;float: left;margin-right: 10px;border-bottom:2px solid #f8f8f8}
.tel{font-size: 10px;padding-left:15px;margin-top:15px;display: inline-block ;color: #9f9f9f}
.enter-r1-top{width: 220px;height: 99px;margin-left: 10px;}
.enter-r1-bottom p{font-size: 15px;padding-left:15px;margin-top:15px;}
.last-con{width: 880px;height: 300px;margin-top: 20px;}
.last-co{width: 435px;height: 190px;}
.float{float: left;margin-right: 10px;}
.flo{float: left}

.last-tai{width: 880px;height: 420px;margin-top: 10px;}
.last-enter{width: 285px;height: 420px;border: 2px solid #f8f8f8;float: left;margin-right: 7px;}
.last-ente{width: 285px;height: 420px;border: 2px solid #f8f8f8;float: left;margin-right: 6px;}
.last-entr{width: 285px;height: 420px;border: 2px solid #f8f8f8;float: left;}
.la-pic{width: 286px;height: 130px;}
.loh{width: 880px;height: 600px;}
.lohh{width: 880px;height: 400px;background-color: #b4b4b4}
.last-t{width: 880px;height: 470px;}
.last-th{width: 425px;height: 90px;float: left;padding: 7px 5px;margin-right:5px;border-bottom:2px solid #f8f8f8 }
.last-the{width: 90px;height: 90px;float: left}
.last-ther p{font-size: 18px;padding-left:10px;margin-top:5px;}
.last-ther{float: left}
.teoo{font-size: 14px;padding-left:15px;margin-top:15px;display:inline-block}
.right{float: right;width: 300px;overflow: hidden}
.right-icon{width: 310px;height: 147px;margin-top: 20px;}
.right-icon ul li{float: left;}
.right-icon ul li a{width: 45px;height: 45px;background: url(../imgs/shba.png) 0 0 no-repeat;
    opacity: .85 ;filter:alpha(opacity=85);display:inline-block;margin-right: 6px;margin-bottom: 2px;}
.right-icon ul li a:hover{opacity: 1;filter:alpha(opacity=100)}
.right-icon ul li a.icon2{background-position: -51px 0;}
.right-icon ul li a.icon3{background-position: -102px 0;}
.right-icon ul li a.icon4{background-position: -153px 0;}
.right-icon ul li a.icon5{background-position: -204px 0;}
.right-icon ul li a.icon6{background-position: -255px 0;}
.right-icon ul li a.icon7{background-position: 0 -51px;}
.right-icon ul li a.icon8{background-position: -51px -51px;}
.right-icon ul li a.icon9{background-position: -102px -51px;}
.right-icon ul li a.icon10{background-position: -153px -51px;}
.right-icon ul li a.icon11{background-position: -204px -51px;}
.right-icon ul li a.icon12{background-position: -255px  -51px;}
.right-icon ul li a.icon13{background-position: 0 -102px;}
.right-icon ul li a.icon14{background-position: -51px -102px;}
.right-icon ul li a.icon15{background-position: -102px -102px;}
.right-icon ul li a.icon16{background-position: -153px -102px;}
.right-icon ul li a.icon17{background-position: -204px -102px;}
.right-icon ul li a.icon18{background-position: -255px  -102px;}
.al{width: 305px;height: 160px;margin-top: 21px;}
.al a div:hover{background-color: #ff5842;color: white}
.al a div{color: #8f8f8f}
.al-iz{width: 149px;height: 38px;line-height: 38px;text-align: center;
    background: #f6f6f6;margin-right: 2px;float: left;margin-bottom: 2px;display: block}
.bas{width: 300px;height: 250px;margin-top: 20px;}
.pop{margin-top: 20px;width: 300px;height: 605px;}
.cont{background-color: #ff5842;height:47px;width: 100%;overflow: hidden}
.coo a span {display:inline-block;height:27px;width: 99px;text-align: center;border-right: 1px solid #f24933;
    line-height: 27px;margin-top: 8px;margin-left: 1px}
.coo a {color: white;display: inline-block;margin-right: -6px}
.coo a:hover{background-color:#f24933;color: white}

.display{display: none}

.focus{background-color:#f24933;color: white}
.pop-con{width: 300px;height: 560px;border:1px solid #f8f8f8;}
.pop-con1{width:270px;height: 100px;margin-top: 10px;margin-left: 10px;
    border-bottom:1px solid #f8f8f8 ;}
.pop-bac{width: 90px;height: 90px;margin-right: 10px;float: left;margin-bottom: 10px;}
.pop-text{float: left;width: 170px;height: 100px;}
.pop-text p{font-size: 16px;padding-left:5px;margin-top:5px;}
.pop-text a{color: black;}

.tol{font-size: 10px;padding-left:10px;margin-top:5px;display: block ;color: #9f9f9f}
.ta{margin-top: 20px;}
.tag{padding: 4px 9px;margin-right: 3px;margin-bottom: 2px;float:left;height: 35px;line-height: 35px;
    display:block;background-color: #f6f6f6;color: #8f8f8f; }
a.tag:hover{background-color:#f24933;color: white}
.video{width: 296px;height: 200px;margin-top: 20px;}
.o-txt{width: 296px;height: 52px;display: block;margin-top: 20px;color: #8f8f8f;border:2px solid #fff;
        background:#f6f6f6 url(../imgs/ho.png) 10px 15px no-repeat ;}
.o-right{padding-top:10px;font-size: 11px;margin-right: 10px;margin-left: 50px;height: 52px;}
.o-txt:hover{width: 296px;height: 52px; color: #fff;
    background:#50b4e6 url(../imgs/bo.png) 10px 13px no-repeat ;border:2px solid #42a7d9}
.last-bt{background-color: #ff5842;color: white;height: 43px;width: 90px;vertical-align: middle;border:none;cursor: pointer}
.searc{margin-top: 20px;width: 300px;}
.text-inp {height: 41px;width: 204px;outline: none;padding-left: 14px;border:1px solid #dcdcdc;
    border-right: none;  font-family: "Segoe UI Light", Calibri;vertical-align: middle}
a{color: black}
a:hover{color: #f60;}